<html lang="en" class="no-js">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <title>Angular Basic application</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
    </head>
    <body ng-app>
        <div class="container">
        <span ng-init="data =1"></span>
            <span>{{data}}</span>
        <span>{{data = 1+2}}</span> <br/>
        <span>data </span> <span ng-bind="data"></span> <span> OR </span> <span>{{data}}</span>
        <p> data in Text box <code>{{textbox | uppercase}}</code></p>
        <input type="text" ng-model="textbox"  class="form-control"/>
            
        <input type="text" ng-model="textbox"  class="form-control"/>
        </div>   
        <script src="lib/angular.min.js"></script>
    </body>
</html>
